#Caddyfile
{
    order coraza_waf first   # WAF işlemi tüm diğer işlemlerden önce çalışsın
}

(smart_rate_limit) {
    @not_whitelisted not remote_ip 192.168.1.0/24 10.10.1.0/24 #white liste alınan IPler
    handle @not_whitelisted {
        rate_limit {
            zone {args[0]} { #parametrik tanımlama
                key {remote_host}
                events {args[1]}
                window {args[2]}
            }
        }
    }
}
 
:80 { #acme challenge için zorunlu
    @acme {
        path /.well-known/acme-challenge/*
    }

    handle @acme {
        root * /var/www/basvuru
        file_server
    }
    handle {
        redir https://{host}{uri} permanent
    }
}
 
:443 { # Host bilgisi Örn. https://example.com:443
    coraza_waf {
        directives `
            SecRuleEngine On
            Include /app/coreruleset/crs-setup.conf
            Include /app/coreruleset/rules/*.conf
            SecRequestBodyLimit 13107200
            SecRequestBodyNoFilesLimit 131072
            SecRequestBodyLimitAction Reject
            SecRequestBodyAccess On
            SecResponseBodyAccess On
            SecResponseBodyLimit 524288
            SecResponseBodyLimitAction ProcessPartial
            SecAuditEngine On
            SecAuditLog /var/log/caddy/coraza-audit.log
            SecAuditLogParts ABCFHKZ
            SecAuditLogType Serial
            SecAuditLogFormat JSON
            SecAction "id:900110,phase:1,nolog,pass,t:none,setvar:tx.inbound_anomaly_score_threshold=5,setvar:tx.outbound_anomaly_score_threshold=4"
            SecAction "id:900000,phase:1,nolog,pass,t:none,setvar:tx.paranoia_level=1"
            SecRule REQUEST_HEADERS_NAMES "!@rx ^(?i:(Host|User-Agent|Accept|Accept-Language|Accept-Encoding|\
                 Connection|Upgrade-Insecure-Requests|Sec-Fetch-Dest|Sec-Fetch-Mode|\
                 Sec-Fetch-Site|Sec-Fetch-User|Priority|TE|Content-Type|Content-Length|Idempotency-Key|\
                 Referer|Origin|Cookie|Cache-Control|Sec-Ch-UA|Sec-Ch-UA-Mobile|\
                 Access-Control-Request-Method|Access-Control-Request-Headers|sec-gpc|Sec-Ch-UA-Platform|If-Modified-Since|pragma|If-None-Match))$" \
                "id:40002,phase:1,deny,status:403,msg:'Forbidden header'"
            SecRule REQUEST_URI "/decrypt.html" "chain,id:5003,phase:1,deny,status:407,msg:'insecure value'"
            SecRule ARGS_GET "!@rx ^[a-zA-Z0-9\_:=\/+ ]+$"
        `
    }

    @api {              # Değişken tanımı: sadece /api/* GET ve HTTP/2 isteklerde çalışsın
        protocol http/2  # HTTP/2 zorunlu
        method GET       # Yalnızca GET istekleri
        path /api/*      # Bu path için geçerli
    }

    handle @api {       # Şartlar sağlandıysa bu blok çalışır
        rate_limit {    # Rate limit kontrolü (DDoS & Bot Pressure kırmak için)
            zone apply_zone {
                key {remote_host}   # IP bazlı limit
                events 1123         # 1123 istek
                window 20s          # 20 saniyede
            }
        }
        reverse_proxy 192.168.1.2:5353 {  # API backend adresi
            transport http {
                versions 2          # Upstream backend ile de HTTP/2 kullanılacak
            }
        }
    }

    @assets {           # Statik dosya servis işlemi için koşullar
        protocol http/2  # Statik dosyalar için HTTP/2 protokolü kullanılacak
        method GET      # Sadece GET isteklerine izin verilir
        path /
        path /index.html
        query ""        # Query string yoksa
    }
    handle @assets {
        rate_limit {    # Statik dosyalara da brute/burst engeli
            zone asset_zone {
                key {remote_host}
                events 15
                window 10s
            }
        }
        root * /app/assets   # Statik dosyaların fiziksel dizini

        route {              # Caching pipeline
            cache {          # Cache handler aktif
                default_ttl 1h                # Varsayılan cache süresi 1 saat
                cache_key "{host}{path}{query}"  # Her endpoint için cache anahtarı
            }
            file_server                          # Dosyaları serve et
            header {
                Cache-Control "public, max-age=31536000"   # Browser cache için 1 yıl
            }
        }
    }
    
    handle_errors {     # Genel hata yönetimi
        @block expression {http.error.status_code} == 500   # Sunucu hatası tespit edildiğinde
        handle @block {
            respond "" 403   # 500 yerine sade ve bilgi vermeyen 403 dön
        }
    }
    handle {
        respond "" 403  # Yukarıdaki kurallara uymayan tüm istekler otomatik engellenir
    }

    log {   # Erişim logları
        format json                          # JSON log formatı (SIEM uyumlu)
        output file /var/log/caddy/access.log {   # Log dosya yolu
            roll_size 10MiB                  # Log rotasyon sınırı
            roll_keep 5                      # 5 adet eski log sakla
            roll_keep_for 48h                # Logları max 48 saat sakla
        }
    }
}
